@import "tailwindcss";

.splash {
    animation-name: initfade;
    animation-duration: 2s;
}

.resplash {
    animation-name: reinitfade;
    animation-duration: 4s;
}

.circleDraw {
  fill: none;
  stroke: white;
  stroke-width: 4;
  stroke-linecap: round;

  stroke-dasharray: 314;
  stroke-dashoffset: 314;

  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  animation: drawCircle 2s ease forwards;
}

.circleErase {
  fill: none;
  stroke: white;
  stroke-width: 4;
  stroke-linecap: round;

  stroke-dasharray: 314;
  stroke-dashoffset: 0;

  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  animation: eraseCircle 2s ease forwards;
}



@keyframes initfade {
    0% {
        opacity: 100;
    }

    70% {
        opacity: 70;
    }

    100% {
        opacity: 0;
    }
}

@keyframes reinitfade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

@keyframes eraseCircle {
  to {
    stroke-dashoffset: -314;
  }
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}